Repository scala-steward/smithy4s-codegen-ui: changes, and which Mergify rules are due for each by the changed paths.
All: Label api PRs, Label backend PRs, Label frontend PRs

Label api PRs:
  label:
    add:
    - api
    remove: []

Label backend PRs:
  label:
    add:
    - backend
    remove: []

Label frontend PRs:
  label:
    add:
    - frontend
    remove: []

Update scalafmt-core to 3.10.5
  .scalafmt.conf
Due: none

Reformat with scalafmt 3.10.5
  modules/backend/src/test/scala/smithy4s_codegen/ConfigTest.scala
Due: Label backend PRs

Add 'Reformat with scalafmt 3.10.5' to .git-blame-ignore-revs
  .git-blame-ignore-revs
Due: none

Update alloy-core to 0.3.36 (#60)
  modules/backend/src/test/scala/smithy4s_codegen/ConfigTest.scala
Due: Label backend PRs

Update scalafmt-core to 3.10.5 (#61)
  .git-blame-ignore-revs
  .scalafmt.conf
Due: none

Update smithy4s-codegen, smithy4s-http4s, ... to 0.18.48
  project/plugins.sbt
Due: none

Update smithy-model to 1.68.0
  build.sbt
Due: none

Update smithy-model to 1.68.0 (#69)
  build.sbt
Due: none

Move to Scala 3, use smithy4s-fetch (#72)
  .github/workflows/bundlemon.yml
  build.sbt
  modules/backend/src/main/scala/smithy4s_codegen/smithy/ModelLoader.scala
  modules/frontend/src/main/scala/smithy4s_codegen/ApiBuilder.scala
  modules/frontend/src/main/scala/smithy4s_codegen/components/CodeEditor.scala
  project/build.properties
  project/plugins.sbt
Due: Label backend PRs, Label frontend PRs

Add codemirror for editing & viewing (#73)
  .mergify.yml
  build.sbt
  modules/api/src/main/resources/META-INF/smithy/manifest
  modules/api/src/main/smithy/SmithyCodeGenerationService.smithy
  modules/frontend/codemirror-langs.js
  modules/frontend/package-lock.json
  modules/frontend/package.json
  modules/frontend/src/main/scala/smithy4s_codegen/bindings/codemirror.scala
  modules/frontend/src/main/scala/smithy4s_codegen/components/CodeEditor.scala
  modules/frontend/src/main/scala/smithy4s_codegen/components/CodeMirrorEditor.scala
  modules/frontend/src/main/scala/smithy4s_codegen/components/CodeViewer.scala
  modules/frontend/src/main/scala/smithy4s_codegen/components/pages/Home.scala
  modules/frontend/style.css
  modules/frontend/vite.config.js
  project/plugins.sbt
Due: Label api PRs, Label frontend PRs

Update sbt-projectmatrix to 0.10.1
  project/plugins.sbt
Due: none

Update sbt-typelevel-mergify to 0.8.5
  project/plugins.sbt
Due: none

Regenerate GitHub Actions workflow
  .github/workflows/ci.yml
  .github/workflows/clean.yml
Due: none

Update sbt-projectmatrix to 0.10.1 (#74)
  project/plugins.sbt
Due: none

Update sbt-projectmatrix to 0.11.0
  project/plugins.sbt
Due: none

Update weaver-cats to 0.12.0
  build.sbt
Due: none

Update alloy-core to 0.3.37
  modules/backend/src/test/scala/smithy4s_codegen/ConfigTest.scala
Due: Label backend PRs

Update alloy-core to 0.3.37 (#78)
  modules/backend/src/test/scala/smithy4s_codegen/ConfigTest.scala
Due: Label backend PRs

Update smithy4s-codegen, smithy4s-core, ... to 0.18.50
  project/plugins.sbt
Due: none

Update smithy4s-codegen, smithy4s-core, ... to 0.18.50 (#80)
  project/plugins.sbt
Due: none

Update alloy-core to 0.3.38
  modules/backend/src/test/scala/smithy4s_codegen/ConfigTest.scala
Due: Label backend PRs

Update scala3-library, ... to 3.8.3
  build.sbt
Due: none

Update alloy-core to 0.3.38 (#81)
  modules/backend/src/test/scala/smithy4s_codegen/ConfigTest.scala
Due: Label backend PRs

Update scalafmt-core to 3.11.0
  .scalafmt.conf
Due: none

Add 'Reformat with scalafmt 3.11.0' to .git-blame-ignore-revs
  .git-blame-ignore-revs
Due: none

Reformat with scalafmt 3.11.0
  modules/frontend/src/main/scala/smithy4s_codegen/components/CodeMirrorEditor.scala
Due: Label frontend PRs

Update scalafmt-core to 3.11.0 (#86)
  .git-blame-ignore-revs
  .scalafmt.conf
  modules/frontend/src/main/scala/smithy4s_codegen/components/CodeMirrorEditor.scala
Due: Label frontend PRs

Update smithy-model to 1.69.0
  build.sbt
Due: none

Update smithy-model to 1.69.0 (#87)
  build.sbt
Due: none

Update http4s-client, http4s-ember-server to 0.23.34
  build.sbt
Due: none

Update smithy4s-codegen, smithy4s-core, ... to 0.18.52
  project/plugins.sbt
Due: none

Update sbt, scripted-plugin to 1.12.10
  project/build.properties
Due: none

Update sbt, scripted-plugin to 1.12.11
  project/build.properties
Due: none

Update a bunch
  build.sbt
  project/build.properties
  project/plugins.sbt
Due: none

and upickle too
  project/deps.sbt
Due: none

Path conditions:
  Label api PRs: any of: ^modules/api/
  Label backend PRs: any of: ^modules/backend/
  Label frontend PRs: any of: ^modules/frontend/
